@font-face {
    font-family: 'Mplus 1p';
    src: local('Mplus 1p Thin'), local('Mplus1p-Thin'),
        url('Mplus1p-Thin.woff2') format('woff2'),
        url('Mplus1p-Thin.woff') format('woff'),
        url('Mplus1p-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

