html[data-theme='dark'] {
  --background-color: #04060c;
  --text-color: #fee;
}

html[data-theme='light'] {
  --background-color: #fee;
  --text-color: #04060c;
}

* {
  box-sizing: border-box;
  scrollbar-color: #737373 #38383D33;
  scrollbar-width: thin;
  margin: 0px;
  padding: 0px;
  transition: all 0.3s ease 0s;
  scroll-behavior: smooth;
  font-size: 14px;
  color: #88a;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #38383D33;
}

::-webkit-scrollbar-thumb {
  background: #545454;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #737373;
}

*::selection {
  color: #fee;
  background-color: #417690;
}

:focus {
  outline: none !important;
}

body {
  font-family: "Zilla Slab", "Open Sans", sans-serif;
  font-size: 18px;
  background: var(--background-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 12px;
}

.formflex {
  display: block;
  max-width: 360px;
  min-width: 296px;
}

.errormessage {
  margin-bottom: 16px;
  color: indianred;
  font-size: 18px;
}

ul {
  list-style: none;
}

.errorlist li {
  color: indianred;
}

br {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  font-size: 18px;
  margin-top: 16px;
}

input {
  background: #88f2;
  border: 1px solid #88f4;
  color: var(--text-color);
  padding: 4px 8px;
  margin-bottom: 4px;
}

input[type="submit"] {
  background: var(--background-color);
  color: var(--text-color);
  cursor: pointer;
  padding: 4px 8px;
  margin-left: auto;
  font-size: 16px;
  border-width: 2px;
  border-color: var(--text-color);
  margin-top: 16px;
  width: 100%;
}

a {
  font-size: 13px;
  color: var(--text-color);
}